<%= form_with(model: customer_record) do |form| %>
  <% if customer_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_record.errors.count, "error") %> prohibited this customer_record from being saved:</h2>

      <ul>
        <% customer_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>

  <div class="field">
    <%= form.label :staff_name %>
    <%= form.text_field :staff_name %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
